<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="jsonFolder" value=".\Json Files"/>
    <add key="devicesFileName" value="Devices.json"/>
    <add key="conflictsFileName" value="Conflicts.json"/>
  </appSettings>

  <connectionStrings>
    <add name="msSql" connectionString="Server=;Database=;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
